<div class="flex flex-col mb-3">
	<%= f.label local_assigns.fetch(:field, nil), local_assigns.fetch(:label), class: 'mb-1' %>
	<%= f.text_field local_assigns.fetch(:field), class: 'rounded outline-none grow', type: 'number', step: '0.01' %>
</div>
