<% if resource.errors.any? %>
	<div data-controller="dalert">
		<div id="error_explanation" class="flex items-center pl-6 p-4 rounded-md border-l-8 border-l-red-500 bg-red-200 border border-red-500 mb-2 text-red-800" data-dalert-target="alert" data-turbo-cache="false">
			<ul class="grow">
				<% resource.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
			<%= heroicon 'x-mark', options: { 'data-action' => 'click->dalert#close_alert', class: 'ml-2' } %>
		</div>
	</div>
<% end %>
