<!DOCTYPE html>
<html>
    <style>
     body {
         background-color: white;
         margin: 2rem 4rem;
     }

     .grid {
         display: grid;
     }

     .gc-5 {
         grid-template-columns: repeat(5, auto);
     }

     .w-100 {
         width: 100%;
     }

     .all-grey * {
         color: #222;
     }

     .all-padding * {
         padding: 5px;
     }

     .border {
         border: 1px solid black;
     }

     .muted {
         color: #aaa;
     }

     .muted * {
         color: #aaa;
     }

     .divide > * {
         border-bottom: 1px solid #88a;
     }

     .divide > *:last-child {
         border-bottom: none;
     }

     div.header {
         font-weight: bold;
         font-size: 1.2rem;
         color: #333;
         text-align: center;
         border: 1px solid #668;
         border-left-width: 0px;
         border-right-width: 0px;
     }
    </style>
    <body>
        <%= yield %>
    </body>
</html>
